<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5p] [%d{yyyy-MM-dd HH:mm:ss}] [%30.30logger{30}] %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="com.adfenix" level="DEBUG" />
    <logger name="akka.event" level="INFO" />
    <logger name="akka.io" level="INFO" />
    <logger name="com.typesafe" level="INFO" />
    <logger name="org.http4s" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="${LOGFORMAT:-TEXT}" />
    </root>
</configuration>
